body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

input, select {
  margin: 10px;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  background: #22c55e;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  background: #1e293b;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
  border-radius: 8px;
}
